body{
    margin-top: 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    height: 100%;
    display: inline-block;
    position: fixed;
    
}


#sidebar{
    background-color: lightgray;
    width: 25%;
    
}

#picture{
    background-color: grey;
    width: 75%;
    margin-left: 25%;
    text-align: center;
}




#green{
    color: forestgreen;
}

